<app-navbar></app-navbar>

<section class="hero">
  <div class="hero-content">
    <h1>Welcome to MedEase Pharmacy System</h1>
    <p>Your complete solution for managing inventory, sales, and prescriptions efficiently.</p>
    <button routerLink="login" class="btn-primary">Login</button>
    <button routerLink="register" class="btn-primary">Register</button>

    <!-- <h3>Quick Demo Navigation</h3>
    <button routerLink="/admin">Go to Admin Dashboard</button>
    <button routerLink="/pharmacy-owner">Go to Owner Dashboard</button>
    <button routerLink="/customer">Go to Customer Dashboard</button> -->
  </div>
</section>

<section class="features">
  <h2>Our Key Features</h2>
  <div class="feature-grid">
    <div class="feature-card">
      <h3>💊 Inventory Management</h3>
      <p>Manage your pharmacy inventory and stock levels efficiently.</p>
    </div>
    <div class="feature-card">
      <h3>🔍 Find Pharmacies</h3>
      <p>Search for pharmacies near you and check medicine availability in real-time.</p>
    </div>
    <div class="feature-card">
      <h3>📄 Prescription Handling</h3>
      <p>Upload prescriptions and find medicines.</p>
    </div>
  </div>
</section>

<app-footer></app-footer>
